.col-lg-8 {
    background-color: whitesmoke;
}

#main-doc {
    overflow-y: auto;
    flex-grow: 1;
}

.navbar {
    align-items: unset;
}

.nav-link {
    color:white;
}

li {
    list-style: none;
}

#data-types ul li {
    list-style: circle;
}
code {
    display:block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color:#f7f7f7;
    padding:15px;
    margin:10px;
    border-radius:5px;
}
